<!--
   Name: Kennedy Page
   Date: 12.07.24
   CSC 372-01

   This file defines the navigation menu for the admin section of the BookedUp project.
   It provides links to various admin functionalities, including managing books, categories,
   orders, and bulk uploads. The menu ensures easy navigation for admin users.
   
-->

<header class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <!-- Website Title -->
    <a href="/" class="navbar-brand fw-bold fs-4">BookedUp</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li>
          <a href="/auth/logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</header>
